* {
  box-sizing: border-box;
  font-family: 'Sono', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background:
    linear-gradient(
      to right,
      #1e0253 0%,
      #631447 50%,
      #fff 50%,
      #fff 100%
    );
}

h1 {
  width: 90%;
  font-size: 50px;
  text-align: center;
  position: relative;
  left: 75px;
}

h2 {
  font-size: 25px;
}

.white {
  color: #fff;
}

.black {
  color: #fff;
}

.score-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 80px;
  gap: 100px;
}

.score-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#refresh {
  position: relative;
  top: 5px;
  padding: 5px 15px;
  background: none;
  border: none;
  cursor: pointer;
  -moz-transition: all 0.8s linear;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}

#refresh.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 320px;
  text-align: center;
}

.empty img {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

#scores {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  padding: 20px;
  height: 370px;
  background-color: #fff;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-cont {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skeleton-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.skeleton-text {
  width: 80%;
  height: 20px;
  border-radius: 15px;
}

.score {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

.score span {
  margin-right: 15px;
}

.score img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.user {
  width: 60%;
  margin-right: 30px;
  font-weight: 700;
}

.score-number {
  font-weight: 700;
  color: #10121f;
}

.form-cont {
  text-align: center;
  padding: 70px 100px 0;
}

#success {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  background-color: #aeeabc;
  border-radius: 15px;
  margin-bottom: 20px;
  font-size: 12px;
  opacity: 0;
  animation: fadeIn 0.8s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.hide {
  display: none;
}

.form-cont img {
  height: 50px;
  width: 50px;
}

input {
  width: 100%;
  margin-bottom: 25px;
  border: none;
  background-color: #ededed;
  padding: 10px;
  border-radius: 15px;
}

#submit-btn {
  padding: 8px 20px;
  background-color: #1e0253;
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  transition: 0.3s;
}

#submit-btn:hover {
  background-color: #555;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-right: 200px;
  padding-left: 160px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
